{
	"singleQuote": true,
	"trailingComma": "all",
	"proseWrap": "always",
	"printWidth": 120,
	"useTabs": true,
	"tabWidth": 2,
	"importOrder": ["^node:(.*)$", "<THIRD_PARTY_MODULES>", "^@styrsomissionskyrka/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
